<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SuperMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JdbcUtils</servlet-name>
    <servlet-class>com.song.market.utils.JdbcUtils</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/supermarket</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketServlet</servlet-name>
    <url-pattern>/MarketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MarketServlet</servlet-name>
    <servlet-class>com.song.market.control.MarketServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>com.song.market.control.SupplierServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.song.market.control.UserServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  
  <filter-mapping>
    <filter-name>coding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>coding</filter-name>
    <filter-class>com.song.market.filter.CodingFilter</filter-class>
  </filter>
</web-app>